{% extends "root.html" %}

{% block content %}
    <div class="create-category">
        <div class="form-wrapper">
            <h3 class="title">upload new contributions</h3>
            <form action="/create/contribution" class="form" method="POST" enctype="multipart/form-data">
                <div class="form-input">
                    <label for="year">Year:</label>
                    <select name="year" id="year" required>
                        <option value="" disabled selected>--SELECT A YEAR--</option>
                        {% for r in years %}
                            <option value="{{ r }}">{{ r }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-input">
                    <label for="month">Month:</label>
                    <select name="month" id="month" required>
                        <option value="" disabled selected>--SELECT A MONTH--</option>
                        {% for r in months %}
                            <option value="{{ loop.index }}">{{ r }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-input">
                    <label for="file">Contribution file:</label>
                    <input type="file" id="file" name="file" required>
                </div>
                <div class="form-input">
                    <input type="submit" value="CREATE" name="submit-create-contribution">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}