{% extends 'root.html' %}

{% if records|length > 0 %}
    {% block head %}
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
            function delConfirm() {
                var result = confirm("The record will be permanently deleted. Are you sure you want to delete?");
                if (result==true) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
    {% endblock head %}
{% endif %}

{% block content %}
    <ul class="links">
        <li><a href="/">View Valid Records</a></li>
        <li><a href="/invalid-records">View Invalid Records</a></li>
    </ul>
    <div class="records">
        {% if records|length < 1 and invalid_records|length < 1 and not edited_record.id %}
            {% if records|length < 1 %}
                <div class="title">No valid records found</div>
            {% endif %}
            {% if invalid_records|length < 1 %}
                <div class="title">No invalid records found</div>
            {% endif %}
        {% endif %}  
        {% if records|length > 0 %}
            <div class="title">Valid Records</div>
            <div class="body">
                <table id="records" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in records %}
                            <tr>
                                <td>{{ r.email }}</td>
                                <td>{{ r.year }}</td>
                                <td>{{ r.month }}</td>
                                <td>{{ r.amount }}</td>
                                <td>
                                    {% if not r.paid %}
                                        <form action="/markaspaid/{{ r.email }}" method="get">
                                            <input type="submit" value="Mark as Paid" name="paid-{{ r.email }}">
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %} 
        
        {% if invalid_records|length > 0 %}
            <div class="title">Invalid Records</div>
            <div class="body">
                <table id="records" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in invalid_records %}
                            <tr>
                                <td>{{ r.email }}</td>
                                <td>{{ r.year }}</td>
                                <td>{{ r.month }}</td>
                                <td>{{ r.amount }}</td>
                                <td>
                                    <ul class="actions">
                                        <li><a href="/invalid-record/edit/{{ r.id }}">Edit</a></li>
                                        <li><a href="/invalid-record/del/{{ r.id }}" onclick="return delConfirm()">Delete</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %} 
    </div> 

    <div class="edited_record">
        {% if edited_record %}
            <div class="form-wrapper">
                <h3 class="title">Edit Invalid Record</h3>
                <form action="/invalid-record/edited" class="form" method="POST">
                    <div class="form-input">
                        <label for="year">Year:</label>
                        <select name="year" id="year" required>
                            {% for r in years %}
                                {% if r == edited_record.year %}
                                    <option value="{{ r }}" selected>{{ r }}</option>
                                {% else %}
                                    <option value="{{ r }}">{{ r }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-input">
                        <label for="month">Month:</label>
                        <select name="month" id="month" required>
                            <option value="" disabled selected>--SELECT A MONTH--</option>
                            {% for r in months %}
                                {% if loop.index == edited_record.month %}
                                    <option value="{{ loop.index }}" selected>{{ r }}</option>
                                {% else %}
                                    <option value="{{ loop.index }}">{{ r }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-input">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="{{ edited_record.email }}" required>
                    </div>
                    <div class="form-input">
                        <label for="amount">Amount:</label>
                        <input type="number" id="amount" name="amount" value="{{ edited_record.amount }}" step="0.01" min="0" required>
                    </div>
                    <div class="form-input">
                        <input type="submit" value="SUBMIT CHANGES" name="submit-edited-record">
                    </div>
                    <input type="hidden" name="id" value="{{ edited_record.id }}">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}